<%- include header %>
<div class="container" id="container"></div>
<div class="page">
    <div class="page__hd">
	<h2 class="page__title">2016-2017 course list</h2>
    </div>
    <div class="page__bd">
	<div class="weui-cells__title">2017 spring course</div>
	<div class="weui-cells">
	    <a class="weui-cell weui-cell_access" href="">
		<div class="weui-cell__bd">
		    <p>internet technology    32times</p>
		</div>
		<div class="weui-cell__ft">36 people</div>
	    </a>
	</div>
    </div>
    <div class="page__bd">
	<div class="weui-cells__title">2016 spring course</div>
	<div class="weui-cells">
	    <a class="weui-cell weui-cell_access" href="">
		<div class="weui-cell__bd">
		    <p>internet technology    32times</p>
		</div>
		<div class="weui-cell__ft">36 people</div>
	    </a>
	</div>
    </div>
</div>
<%- include footer %>
